## Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular langages for Data Science
- List popular Libaries for Data Science
- List popular Data Science tools

Some of the popular languages that Data Scientists used are:
1. R
2. Python 
3. Java script

Some of the commonly used libraies used by Data Scientists include:

1. Plotly
2. Matplotlib
3. Pandas

| Data Science Tools |
|--------------------|
|RStudio|
|Apache Spark|
|Tensor Flow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [5]:
#  This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by dividing by 60.
200/60

3.3333333333333335

## Author
Keegan Malany